Paleta de Cores{
    color:#4b1c71;
    color: #a87bc7;
    color: #e0b0ff;
    color: #f1d7ff;
}

body{
    background-color: #e0b0ff;
}

/* estilização da header*/
header {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: #4b1c71;
    padding: 30px;
}

h1{
    color: aliceblue;
    font-size: 50px;
}

.container {
    position: relative;
    width: 50%;
    margin: 20px;
}

.image {
    display: block;
    width: 30%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #81c9fa;
}

.container:hover .overlay {
    opacity: 2;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

footer{
    display: flex;
    background-color: #4b1c71;
    height: 100px;
    margin-top: 70px;
    padding: 16px;
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
    justify-content: center;
}


h3{
    color: aliceblue;
    font-size: 30px;
}