/* Paleta de Cores{
    color:#4b1c71;
    color: #a87bc7;
    color: #e0b0ff;
    color: #f1d7ff;
} */

/* Cor de fundo do site */
body{
    background-color: #e0b0ff;
}

/* estilização da header*/
header {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: #4b1c71;
    padding: 30px;
}

/* Estilização do texto principal da página. */
h1{
    color: #f1d7ff;
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;

}

/* Caixa para texto introdutório */
.caixa{
    display: flex;
    background-color:#4b1c71;
    border-radius: 15px;
    padding-left: 30px;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
}

/* estilização do texto dentro da caixa projetada anteriormente */
.caixa p{
    color: #f1d7ff;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    font-family: 'Shadows Into Light', cursive;
}

/* estilização do texto de interfase entre a introdução e o conteúdo principal */
h2{
    color: #4b1c71;
    font-size: 40px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;

}